[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "filehash"]
	path = filehash
	url = https://github.com/rdpeng/filehash
	shallow = true
	registered = true
[submodule "filehashSQLite"]
	path = filehashSQLite
	url = https://github.com/rdpeng/filehashsqlite
	shallow = true
	registered = true
[submodule "gpclib"]
	path = gpclib
	url = https://github.com/rdpeng/gpclib
	shallow = true
	registered = true
[submodule "mvtsplot"]
	path = mvtsplot
	url = https://github.com/rdpeng/mvtsplot
	shallow = true
	registered = true
[submodule "simpleboot"]
	path = simpleboot
	url = https://github.com/rdpeng/simpleboot
	shallow = true
	registered = true
