[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "filehash"]
	path = filehash
	url = https://github.com/rdpeng/filehash
[submodule "filehashSQLite"]
	path = filehashSQLite
	url = https://github.com/rdpeng/filehashsqlite
[submodule "mvtsplot"]
	path = mvtsplot
	url = https://github.com/rdpeng/mvtsplot
[submodule "simpleboot"]
	path = simpleboot
	url = https://github.com/rdpeng/simpleboot
